script(type="text/javascript" src="/reports/js/jquery.js")
script(type="text/javascript" src="/reports/js/juts.core.js")

link(rel="stylesheet", href="/reports/css/reset.css")
link(rel="stylesheet", href="/reports/css/reports.css")