footer(class="juts-footer", id="footer")
	div(class="juts-footer-wrapper")
		div(class="juts-footer-content")
			div(class="juts-logos")
				img(class="juts-ebay-logo", src="/reports/img/logo-vert.png")
			div(class="juts-footer-version") v#{version}