div(class="juts-header", id="header")
	div(class="juts-header-wrapper")
		div(class="juts-header-content")
			div(class="juts-heading") 
				div(class="juts-pound") # 
				a(href="/dashboard") juts
			ul(class="juts-navigation")
				li
					a(href="/dashboard") Dashboard
				li
					a(href="/cookbook") Cookbook
				li
					a(href="/api") API
				li
					a(href="/usage") Usage
				li
					a(href="/downloads") Downloads
				li
					a(href="http://docs.gsiccorp.net/dashboard")
						strong(class="juts-pound-inner") # 
						| docs
				li
					a(href="/faq") FAQ
			
			div(class="juts-search")
				input(type="image", src="/reports/img/search-icon.png")
				input(class="juts-search-text", type="text", placeholder="Search Reports...")
			div(class="juts-report-results")


